<html>
  <head>
  <title>Charting frontend</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link type="text/css" rel="stylesheet" href="/bower_components/rickshaw/rickshaw.min.css">
  <script src="/bower_components/d3/d3.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/lodash/lodash.min.js"></script>
  <script src="/bower_components/rickshaw/rickshaw.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">IoT Security Demo</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <div class="container"><br>
    <div id='header'>
      <h2>Temperature data from dummy sensor via MQTT broker</h2>
    </div>
    <div id="controls">
      <div class="col-md-3">
        <input type='text' id='offset' class='form-control' placeholder="Change offset value:"></input>
      </div>
      <button type='button' id='setOffset' class="btn btn-success">set</button>
    </div><br>
    <div id="chart_container">
      <div id="chart"></div>
      <div id="timeline"></div>
      <div id="preview"></div>
    </div><br>
    <p class="text-center">
    	<a href="/logout" class="btn btn-danger btn-lg">Logout</a>
    </p>
  </div>
  </body>
  <script src="js/chart.js"></script>
</html>