<!doctype html>
<html>
<head>
    <title>Signup</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">IoT Security Demo</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li class="active"><a href="/signup">Signup</a></li>
        </ul>
    </nav>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> Signup</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form id="contactForm" action="/signup" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Please enter a valid email address:">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Min 8 charcters & at least one number, one uppercase and lowercase letter">
                </div>
                <!-- display error messages -->
                <div class="form-group">
                    <div class="col-md-12">
                        <div id="messages"></div><br>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </div>
            </form>

            <hr>

            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>

        </div>

    </div>
    <script src="js/auth.js"></script>
</body>
</html>